/* main.css --- Simple Description */
/* Full Description */

/* Author: Mike Barker <mike@thebarkers.com> */
/* Created: October 22, 2015 */

/* History: */
/* 2015.10.22 */
/* * First release. */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* margin-bottom = footer->height */
    background-color: #FFFAF0;
    margin: 0 0 30px;
}

main {
    max-width: 38rem;
    padding: 2rem;
    margin: auto;
}

header, footer {
    background-color: #2E6A3C;
    color: #FFFAF0;
    text-align: center;
    width: 100%;
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 2px 2px black;
}

header h1, header p {
    margin: 0;
}

h3 {
    color: #693C2E;
    margin: 1em 0 0 0;
}

hr {
    margin: 0 0 1em;
    background-color: #693C2E;
    color: #693C2E;
    height: 2px;
    border: none;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
}

footer p {
    margin: 0;
    padding-top: 5px;
}
